<section class="marketing">
  <div class="one-liner">
    <span class="strong">Expensely</span> is an expenses tool for slack that makes reimbursements actually easy for you and your clients.
  </div>
</section>

<section class="marketing install">
  <%= link_to '/install', class: 'marketing__install-button' do %>
    <%= image_tag "Slack_App_Icon" %>Add to Slack
  <% end %>
</section>

<section class="marketing feature">
  <div class="feature-description">
    <h2>Feature One</h2>
    <p>is an expenses tool for slack that makes reimbursements actually easy for you and your clients.</p>
  </div>
  <div class="feature-image">
    <%= image_tag "placeholder" %>
  </div>
</section>

<section class="marketing feature">
  <div class="feature-image">
    <%= image_tag "placeholder" %>
  </div>
  <div class="feature-description">
    <h2>Feature Two</h2>
    <p>is an expenses tool for slack that makes reimbursements actually easy for you and your clients.</p>
  </div>
</section>

<section class="marketing feature">
  <div class="feature-description">
    <h2>Feature Three</h2>
    <p>is an expenses tool for slack that makes reimbursements actually easy for you and your clients.</p>
  </div>
  <div class="feature-image">
    <%= image_tag "placeholder" %>
  </div>
</section>


<section class="marketing pricing">
  <div class="pricing__tier">
    <div class="pricing__header">
      <div class="price">$4.95<span>/month</span></div>
      <div class="name">Beginner</div>
    </div>
    <div class="pricing__body">
      <ul>
        <li>1 Slack Team</li>
        <li>up to 50 peeps</li>
        <li>weekly PDF reports</li>
      </ul>
    </div>
    <div class="pricing__footer">
      <%= link_to '/install', class: 'marketing__install-button' do %>
        <%= image_tag "Slack_App_Icon" %>Add to Slack
      <% end %>
    </div>
  </div>
  <div class="pricing__tier">
    <div class="pricing__header">
      <div class="price">$4.95<span>/month</span></div>
      <div class="name">Beginner</div>
    </div>
    <div class="pricing__body">
      <ul>
        <li>1 Slack Team</li>
        <li>up to 50 peeps</li>
        <li>weekly PDF reports</li>
      </ul>
    </div>
    <div class="pricing__footer">
      <%= link_to '/install', class: 'marketing__install-button' do %>
        <%= image_tag "Slack_App_Icon" %>Add to Slack
      <% end %>
    </div>
  </div>
  <div class="pricing__tier">
    <div class="pricing__header">
      <div class="price">$4.95<span>/month</span></div>
      <div class="name">Beginner</div>
    </div>
    <div class="pricing__body">
      <ul>
        <li>1 Slack Team</li>
        <li>up to 50 peeps</li>
        <li>weekly PDF reports</li>
      </ul>
    </div>
    <div class="pricing__footer">
      <%= link_to '/install', class: 'marketing__install-button' do %>
        <%= image_tag "Slack_App_Icon" %>Add to Slack
      <% end %>
    </div>
  </div>
</section>


