<!DOCTYPE html>
<html>
  <head>
    <title>ExpenselyMvp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class='container'>
        <%= image_tag "nick.png" %>
        <h1>Expensely</h1>
        <ul class="navbar__links navbar__links--left">
          <li class="navbar__link">Product</li>
          <li class="navbar__link">Pricing</li>
          <li class="navbar__link">FAQ</li>
        </ul>
        <ul class="navbar__links navbar__links--right">
          <li class="navbar__link">Get Started</li>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
